<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Parallax!
  link(rel="stylesheet", href="dist/style.css")
body

  .parallax
    header.parallax__group
      .parallax__layer.parallax__layer--back.bg--header-parallax
    
      .parallax__layer.parallax__layer--base 
        h1.title.title--header-parallax Parallax CSS
        
    section.parallax__group.block
        h2.title.title--center How it works?
        p.text--short.text--center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ea quisquam, temporibus expedita dolores, illo explicabo consectetur nulla eligendi perspiciatis dolorem magni distinctio, modi perferendis. Aperiam doloribus reiciendis, tempora dicta minima repellat distinctio, at explicabo exercitationem, commodi harum mollitia odit?

    .parallax__group
    .parallax__group
    
    
    
    #group3.parallax__group
      .parallax__layer.parallax__layer--base
        .title Base layer
      .parallax__layer.parallax__layer--fore
        .title Foreground layer
        
    #group4.parallax__group
      .parallax__layer.parallax__layer--deep
        .title Deep layer
      .parallax__layer.parallax__layer--back 
        .title Background layer 
      .parallax__layer.parallax__layer--base
          .title Base layer
             
    #group5.parallax__group
      .parallax__layer.parallax__layer--base 
        .title Base layer
      .parallax__layer.parallax__layer--fore
        .title Foreground layer
        
    #group6.parallax__group
        .parallax__layer.parallax__layer--back 
          .title Background layer
        .parallax__layer.parallax__layer--base 
          .title Base layer
          
    #group7.parallax__group
      .parallax__layer.parallax__layer--base 
        .title Base layer
  
  .debug
    label 
      input(type="checkbox")
      |  Debug
  script(src="dist/script-min.js")
