<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Parallax!
  link(rel="stylesheet", href="style.css")
body

  .parallax
    #group1.parallax__group
      .parallax__layer.parallax__layer--base 
        .title Base layer

    #group2.parallax__group
      .parallax__layer.parallax__layer--back 
        .title Background layer
      .parallax__layer.parallax__layer--base 
        .title Base layer
    
    #group3.parallax__group
      .parallax__layer.parallax__layer--base
        .title Base layer
      .parallax__layer.parallax__layer--fore
        .title Foreground layer
        
    #group4.parallax__group
      .parallax__layer.parallax__layer--deep
        .title Deep layer
      .parallax__layer.parallax__layer--back 
        .title Background layer 
      .parallax__layer.parallax__layer--base
          .title Base layer
             
    #group5.parallax__group
      .parallax__layer.parallax__layer--base 
        .title Base layer
      .parallax__layer.parallax__layer--fore
        .title Foreground layer
        
    #group6.parallax__group
        .parallax__layer.parallax__layer--back 
          .title Background layer
        .parallax__layer.parallax__layer--base 
          .title Base layer
          
    #group7.parallax__group
      .parallax__layer.parallax__layer--base 
        .title Base layer
  
  .debug
    label 
      input(type="checkbox")
      |  Debug
  script(src="script.js")
