@import url('https://fonts.googleapis.com/css?family=Poppins:400,500')
@font-face
  font-family: SF-Display
  src: url("../assets/fonts/SF-Pro-Display-Thin.otf") format("opentype")
@font-face
  font-family: SF-Text
  src: url("../assets/fonts/SF-Pro-Text-Regular.otf") format("opentype")
SF-Pro-Text-Regular

$perspective: 300px
$c-fore: #2a78d2
$c-base: #4b93e7
$c-back: #6ea4e3
$c-deep: #9fbde0

*
  box-sizing: border-box

body, html, h1, h2, h3, h4, h5, h6
  margin: 0
  font-family: 'SF-Display', sans-serif
  font-weight: 400

p
  font-family: "SF-Text" , sans-serif

.debug
  position: fixed
  top: .5rem
  left: .5rem
  background: #1f1b29
  border-radius: 5px
  color: #fff
  label
    display: inline-block
    padding: 1em .6em

.debug-on
  .parallax__group
    transform: translate3d(700px, 0, -$perspective * 2.66) rotateY(30deg)

  .parallax__layer
    box-shadow: 0 0 5px 1px #000
    opacity: .9

.parallax
  perspective: $perspective
  height: 100vh
  overflow: hidden auto
  perspective-origin-x: 100%

  &__group
    position: relative
    height: 100vh
    transform-style: preserve-3d
    transition: .5s transform

  &__layer
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    transform-origin-x: 100%

    &--fore
      transform: translateZ(100px) scale(.6666)
      z-index: 5
    &--base
      // transform: translateZ(0)
      z-index: 4

    &--back
      transform: translateZ(-$perspective) scale(2)     // scale = 1 + (translateZ * -1 / perspective)
      z-index: 3

    &--deep
      transform: translateZ(-$perspective * 2) scale(3)
      z-index: 2


.block
  display: flex
  flex-direction: column
  align-items: center
  padding: 5em 3em
  background: #fff
  height: auto
  transform: translateZ(0)

  &--x
    flex-direction: row


.title
  font-size: 3em
  padding: .5em 0

  &--center
    text-align: center

  &--header-parallax
    position: absolute
    left: 50%
    top: 40%
    margin: 0
    transform: translate(-50%, -50%)
    text-align: center
    color: #fff
    font-size: 5em
    letter-spacing: .2em
.text
  &--short
    max-width: 500px
  &--center
    text-align: center

.bg
  &--normal
    background-color: #fff

  &--header-parallax
    background:
      image: url(../assets/img/bg2.jpg)
      size: auto 100%
      position: center







#group1, #group3, #group5, #group7
  z-index: 4
  .parallax__layer--base
    background: $c-base

#group2, #group6
  z-index: 3
  .parallax__layer--back
    background: $c-back

#group4
  z-index: 2
  .parallax__layer--deep
    background: $c-deep
