// html
//   height: 100%
//   overflow: hidden
//
// body
//   color: #fff
//   margin: 0
//   padding: 0
//   perspective: 1px
//   transform-style: preserve-3d
//   height: 100%
//   overflow-x: hidden
//   overflow-y: scroll
//   font-family: "Luna"
//
// header
//   box-sizing: border-box
//   min-height: 100vw
//   padding: 30vw 0 5vw
//   position: relative
//   transform-style: inherit
//   width: 100vw
//
//   h1
//     margin-top: -100px
//
//   &, &::before
//     background: 50% 50%
//
//   &::before
//     content: ''
//     position: absolute
//     bottom: 0
//     left: 0
//     right: 0
//     top: 0
//     display: block
//     background-image: url(assets/img/bg.jpg)
//     background-size: cover
//     transform-origin: center center 0
//     transform: translateZ(-1px) scale(2)
//     z-index: -1
//     min-height: 100vh
//
//   *
//     font-weight: normal
//     letter-spacing: .2em
//     text-align: center
//     margin: 0
//     padding: 1em 0
//
//
// .lorem
//   padding: 4em
//   background: #292e44
//   height: 800px
//   position: relative
//
//
// @font-face
//   font-family: Luna
//   src: url(assets/fonts/Luna.ttf)

body, html
  margin: 0
  font-family: Montserrat

.debug
  position: fixed
  top: .5rem
  left: .5rem
  padding: 1em .6em
  background: #1f1b29
  border-radius: 5px
  color: #fff

.debug-on
  .parallax__group
    transform: translate3d(700px, 0, -800px) rotateY(30deg)

  .parallax__layer
    box-shadow: 0 0 5px 1px #000
    opacity: .9


.parallax
  perspective: 300px
  height: 100vh
  overflow-x: hidden
  overflow-y: auto

.parallax__group
  position: relative
  height: 100vh
  transform-style: preserve-3d
  transition: .5s transform

.parallax__layer
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0

  &--fore
    transform: translateZ(100px) scale(.6666)
    z-index: 5
  &--base
    transform: translateZ(0)
    z-index: 4

  &--back
    transform: translateZ(-300px) scale(2)     // scale = 1 + (translateZ * -1 / perspective)
    z-index: 3

  &--deep
    transform: translateZ(-600px) scale(3)
    z-index: 2

  .title
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    text-align: center
    font-size: 200%

$c-fore: #2a78d2
$c-base: #4b93e7
$c-back: #6ea4e3
$c-deep: #9fbde0

#group1, #group3, #group5, #group7
  z-index: 4
  .parallax__layer--base
    background: $c-base

#group2, #group6
  z-index: 3
  .parallax__layer--back
    background: $c-back

#group4
  z-index: 2
  .parallax__layer--deep
    background: $c-deep
